.resume{
    font-family: monospace;
    white-space: pre-wrap;
    outline: 0;
    width: 0;
    height: 0;
}
.workArea{
    font-family: monospace;
    white-space: pre-wrap;
    outline: 0;
}


.workArea{
    height:500px;
    width:100%;
    left:0;
}

body{
    width:100%
}